//start of mixins definitions
//initally copied over from tundra app
@mixin center($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin colour-style($colour, $text-colour) {
    background-color: $colour !important;
    color: $text-colour !important;
    border-color: darken($colour, 10%) !important;
}