// Run the below to compile SASS
// sass [--watch] res/sass/_style.scss:src/App.css
// This is where all the override styles for Materilize-css will be done
@charset "utf-8";
@import "./materialize.scss";
@import "mixins";
@import "variables";  // import variables after materilize to ovveride any colours
@import "fonts";

// class to hide elements
.hidden{
    display: none;
}

//class to specify a more liked element
.favourite {
    // border: 3px solid $deep-purple;
    box-shadow: 2px 2px 10px $yellow, -2px -2px 10px $yellow ;
}

// selector for secondary-content (inside the collection item, expand the width)
.collection-item{
    //selector rule for the badge and avatar image
    .avatar-container{
        .badge{
            position: absolute;
            left: -20px;
            i{
                color: $light-shade;
                border-color: $dark-shade;
            }
        }
    }
    // selector for the secondary content 
    .secondary-content{
        width: $button-width;
        place-items: center;
    
        //style the collection items
        .btn-box{
            // @include center(column);
            // height: 100%;
            display: grid;
            place-items: center;
    
            .del-btn{
                margin-top: 2px;
            }
            .edit-btn{
                margin-bottom: 2px;
            }
        }
    }
}

// appnavigation bar
.brand-logo{
    img{
        width: 125px;
        height: auto;
        filter: saturate(1.5);
        @media (min-width: $mobile-breakpoint) {
            width: 150px;
        }
    }
}
//btnCol is the selector the column of submit and cancel
// buttons in the form
.btnCol{
    max-height: 50px;
    min-width: 80vw;
    // formbuttons is the selector for the btn box holding the btns
    .formButtons{
        // @include center(column);
        // justify-content: center;
        // display: grid;
        // place-items: center;
        // justify-content: center;
        display: flex;
        // flex-flow: column nowrap;
        justify-content: space-between;
        flex-direction: row;
        
        
        .row{
            button, a{
                width: $button-width - 125px;
            }
        }
    }
    //tablet view
    @media (min-width: $mobile-breakpoint) {
        min-width: inherit;
        .formButtons{
            align-items: center;
            flex-direction: column;
            height: 90px;
        }
    }
}


//change the colours of text inside the inputs
input, select, option {
    color: white;
}

// overriding the colours for the materlize-css componenets
html{
    background-color: $light-shade;
}