// Run the below to compile SASS
// sass [--watch] res/sass/_style.scss:src/App.css
// This is where all the override styles for Materilize-css will be done
@charset "utf-8";
@import "./materialize.scss";
@import "variables";  // import variables after materilize to ovveride any colours
@import "mixins";
@import "fonts";

// class to hide elements
.hidden{
    display: none;
}

// selector for secondary-content (inside the collection item, expand the width)
.secondary-content{
    width: 250px;
    place-items: center;

    //style the collection items
    .btn-box{
        // @include center(column);
        // height: 100%;
        display: grid;
        place-items: center;

        .del-btn{
            margin-top: 2px;
        }
        .edit-btn{
            margin-bottom: 2px;
        }
    }
}

.favourite {
    border: 3px solid $deep-purple;
    box-shadow: 2px 2px 10px $deep-purple, -2px -2px 10px $deep-purple ;
}
.badge{
    position: absolute;
}

.formButtons{
    // @include center(column);
    // justify-content: center;
    display: grid;
    place-items: center;
    background-color: rebeccapurple;
    height: 100%;
    .row{
        button, a{
            width: 100%;
        }
    }
}

//change the colours of text inside the inputs
input, select, option {
    color: white;
}